<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>movie</mat-icon>
        </div>
        <mat-card-title>Movie name</mat-card-title>
        <mat-card-subtitle>Movie name</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
        src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_.jpg"
        alt="Movie name">
    <mat-card-content>
        <p>
            Movie desc
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>View</button>
    </mat-card-actions>
</mat-card>